/*
Dorado bordes   #bd9600
Dorado drawer   #bf9700
*/
@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000000;   
    background-attachment:fixed;
    font-family: Arial;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
a{
  color: #FFFFFF;
}
/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#000000;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



body {
  margin: 0;
  padding: 0;
  background: #000000;
  overflow-x: hidden;
}

a { text-decoration: none; }



.clear { clear: 'both'; }

#circle {
  margin-top: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 300px;
  height: 300px;
  background: #f86057;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  color: #fff;
  font-size: 60px;
}

header {
  background-color: #000000;
  /*padding: 10px 10px 10px 0px;*/
  text-decoration: none;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-image: url('../img/miller_top_bg.png');
  background-size: 100% 100%;
  height: 60px;
  border-bottom: solid #bd9600 3px;
}
header .title {

color: #FFFFFF;
font-size: 1.9em;
text-transform: uppercase;
padding-top: 21px;
text-align: center;
font-family: 'MyriadProRegular';
position: absolute;
width: 60%;
margin-left: 20%;
}

footer {
  background-color: #000000;
  /*padding: 10px 10px 10px 0px;*/
  text-decoration: none;
  position: fixed;
  bottom:0px;
  width: 100%;
  z-index: 5;
  background-size: 100% 100%;
  height: 111px;   /* Sin logout es 85px */
  border-top: solid #bd9600 3px;
}


#content {
  background-color: #000;
  padding: 63px 0px 82px 0px;  /*63px 0px 88px 0px;*/
  position: relative;
  width: auto;
  min-height: 100%;
  -webkit-box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
  box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
  overflow-y: auto; 
}

nav {
  top: 0px;
  margin-left: 100%;
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: #000000;
  overflow-y: auto;
}  
nav ul {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
  margin-top: 80px;
  z-index: 100;
  z-index: 100 !important;
  position: absolute;  
}  
nav li {
  position: relative;
  width: 94%;
  background: #000000;
  margin-left: 3%;
  margin-bottom: 2px;
  /*background: #FFF;*/
}

nav li:hover {
}  

nav li a{
  color: #222;
  text-decoration: none;
}
nav li img{
  width:100%;
  height: auto;
}
nav li:hover img {
  opacity: 0.6;
}  
.nav_header{
  background-color: #000000;
  /*padding: 10px 10px 10px 0px;*/
  text-decoration: none;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-image: url('../img/miller_top_bg.png');
  background-size: 100% 100%;
  height: 75px;
  text-align: center;
}
.nav_header img{
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 0px;
  width: auto;
  height: 50px;
  margin-top: 16px;
}
#hamburger {
  cursor: pointer;
  display: block;
  height: 40px;
  position: relative;
  width: 60px;
  float: right;
  padding-right: 10px;
  padding-top: 20px;
}
#hamburger div {
  background-color: #bf9700;
  height: 3px;
  margin-top: 3px;
  width: 35%;
  margin-left: 37%;
}
#hamburger:hover {
  /*background: #bf9700;
  border-radius: 120px;*/
}
#hamburger:hover div {
  /*background-color: #000000;*/
}
.hamburger-action{
  cursor: pointer;
  float: right;
  width: 50px;
  height: 55px;
  margin-top: -45px;
}

#hamburger-overlay {
  display: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  background: #000;
}
#backbutton{
  float: left;
  width: 70px;
  height: 60px;
  visibility: hidden;
  z-index: 9999999999;
}
#backbutton:hover{
  opacity: 0.7;
}
#backbutton img{
  height: 25px;
  width: auto;
  margin-left: 10px;
  margin-top: 20px;
}
.swiper-container {
  width: 100%;
  height: 56px;
  border-bottom: solid #bd9600 2px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-cells: center;
  align-cells: center;
}

.swiper-slide img{
    width:100%;
    height:100%;
}

.disclaimer {
  width: 100%;
  height: 25px;
  background-image: url('../img/miller_disclaimer.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;    
  border-bottom: solid #bd9600 2px;
}
.logoutButton{
  color: #bd9600;
  font-size: 15px;
  height: 26px;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  border-bottom: solid #bd9600 2px;
  font-weight: bold;
}

.logoutButton:hover{
  color: #FFF;
}

.space{
  width: 100%;
  clear: both;
}


/*
  SECTIONS
*/
.section{
  width:100%;
  color:#FFFFFF;  
  margin:0px;
  padding:0px;  
  padding-top:5px;
  padding-bottom: 10px;
}

.sub_section{
  width:100%;
  color:#FFFFFF;  
  margin:0px;
  padding:0px;  
}

.row_col1{
  width: 98%;
  height:auto;
  margin-left: 1%;
  margin-top: 5px;
  text-align: center;
}

.row_col2{
  width: 49%;
  height:auto;
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.row_col3{
  width: 32%;
  height:auto;
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.row_col4{
  width: 24%;
  height:auto;
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}



/*
  GOLDEN STORE
*/
#goldenstore{
  position: absolute;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.goldenstore-loader{
  position: absolute;
  top:40%;
  width:100%;
  text-align: center;
}
#goldenstore_categories .categories_title{
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color:#FFFFFF;
  padding-top: 20px;
  margin-bottom: 8px;
}
#goldenstore_categories{
  width:100%;
  text-align: center;
  /*padding-bottom: 90px;*/
  position: absolute;
  /*height: 1000px;*/
}
#goldenstore_categories .categories_wrapper{
  width:80%;
  margin:0 auto;
  margin-left: 10%;
  /*margin-bottom: 80px;*/ /* space between description and revisar mis golden points*/
}
#goldenstore_categories .category_button{
  width: 49%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}
#goldenstore_categories .category_button:hover{
  opacity: 0.7;
}
#goldenstore_list{
  position: absolute;
  padding-bottom: 90px;
}
#goldenstore_list .list-title{
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  color:#FFFFFF;
  padding-top: 20px;
}
#goldenstore_list ul{
  list-style: none;
  padding: 0px;
  width: 100%;
  margin-bottom: 95px; /* space between description and revisar mis golden points*/
}
#goldenstore_list ul li{
  list-style: none;
  width: 100%;
  min-height: 100px;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-top: 15px;
}
/*
#goldenstore_list ul li:hover{
  background-color: #222;
}*/
#goldenstore_list ul li .cell-picture{
  width: 35%;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center right;
} 
#goldenstore_list ul li .cell-info{
  width:63%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
#goldenstore_list ul li .cell-info .cell-title{
  width:100%;
  color: #FFFFFF;
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
}
#goldenstore_list ul li .cell-info .cell-price{
  width:100%;
  color: #bf9700;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#goldenstore_list ul li .cell-info .cell-action{
  width:55%;
  color: #FFFFFF;
  font-size: 1.6em;
  font-weight: 500;
  text-align: center;
  border:solid #bf9700 1px;
  padding:5px;
  margin:0 auto;
  margin-top: 10px;
}
#goldenstore_list ul li .cell-info .cell-viewmore{
  width:60%;
  color: #FFFFFF;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  padding:5px;
  margin:0 auto;
  margin-top: 8px;
  text-transform: uppercase;
}
#goldenstore_item{
  width: 100%;
  padding-top: 20px;
  position: absolute;
  padding-bottom: 90px;
} 
#goldenstore_item .item-picture{
  width: 35%;
  height: 120px;
  display: inline-block;
  vertical-align: top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center right;
} 
#goldenstore_item .item-info{
  width:63%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top:10px;
}
#goldenstore_item .item-info .item-title{
  width:100%;
  color: #FFFFFF;
  font-size: 1.6em;
  text-align: center;
}
#goldenstore_item .item-info .item-price{
  width:100%;
  color: #bf9700;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}
#goldenstore_item .item-action{
  width:55%;
  color: #FFFFFF;
  font-size: 1.6em;
  font-weight: 500;
  text-align: center;
  border:solid #bf9700 1px;
  padding:5px;
  margin:0 auto;
  margin-top: 10px;
}
#goldenstore_item .item-description{
  color: #DDDDDD;
  font-size: 1.1em;
  font-weight: 500;
  text-align: left;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  border-top: solid #bf9700 1px;
  padding-top: 5px;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 95px; /* space between description and revisar mis golden points*/
}



/*
  REVISAR MIS GOLDEN POINTS
*/
.revisar_goldenpoints{
  width: 100%;
  left: 0px;
  text-align: center;
  position: fixed;
  bottom: 100px;
  background: #000;
  padding-top: 15px;
  padding-bottom: 5px;
}
.revisar_goldenpoints .line-top{
  width: 70%;
  border-top: solid #bf9700 1px;
  margin: 0 auto;
}
.revisar_goldenpoints .title{
  width: 100%;
  color: #FFFFFF;
  font-size: 1.3em;
  margin-top: 13px;
  margin-bottom: 11px;
}
.revisar_goldenpoints .title strong{
  color:#bf9700;
}


.revisar_goldenpoints:hover .title{
  color: #999;
}
.revisar_goldenpoints:hover .title strong{
  color:#999;
}


.revisar_goldenpoints img{
  width:70px;
  margin:0 auto;
}

  



/*
  GOLDEN LIFESTYLE
*/
#goldenlifestyle{
  position: absolute;
  top: 63px;
  padding-top: 0px;
  padding-bottom: 90px;  
  
 /* overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 1000px;*/
}
#goldenlifestyle_list ul{
  list-style: none;
  padding: 0px;
  width: 100%;
  margin-top: 0px;
}
#goldenlifestyle_list ul li{
  list-style: none;
  width: 100%;
  min-height: 100px;
  padding-top: 25px;
  padding-bottom: 20px;
}
#goldenlifestyle_list ul li:hover{
  background-color:#333333;
}
#goldenlifestyle_list ul li .cell-picture{
  width: 25%;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  margin-left: 7%;
  border: solid #bf9700 1px;
} 
#goldenlifestyle_list ul li .cell-info{
  width:61%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
#goldenlifestyle_list ul li .cell-info .cell-title{
  width: 100%;
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: left;
  padding-left: 10px;
  text-transform: uppercase;
}
#goldenlifestyle_list ul li .cell-info .cell-viewmore{
  width:100%;
  color: #bf9700;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  padding-left: 10px;
  margin:0 auto;
  margin-top: 10px;
  text-transform: uppercase;
}
#goldenlifestyle_item{
  width: 100%;
  padding-top: 15px;
  position: absolute;
  top:0px;  
  padding-bottom: 90px;
  
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 2000px;
  /*height: calc(100% - 180px);*/
} 
#goldenlifestyle_item .item-main-title{
  width: 90%;
  margin-left: 5%;
  color: #FFFFFF;
  font-size: 1.7em;
  text-align: bold;
}
#goldenlifestyle_item .item-picture{
  width: 90%;
  margin-left: 5%;
  height: auto;
}
#goldenlifestyle_item .item-description{
  color: #DDDDDD;
  font-size: 1.1em;
  font-weight: 500;
  text-align: left;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  border-top: solid #bf9700 1px;
  padding-top: 5px;
  margin-top: 10px;
  text-align: left;
  text-transform: capitalize;
}
#goldenlifestyle_item .item-description h2{
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 500;
  text-align: left;
  margin-top: 9px;
margin-bottom: 0px;
}
.item-news{
  display:none;
}


/*
  PHOTO GALLERY
*/
#galeria{
  width:100%;
  padding-top: 20px;  
  text-transform: capitalize;
}
#links{
  width:100%;
  padding-top: 20px;
}
#links a{
  width: 43%;
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
  margin-right: 1%;
}
#links .foto{
  width: 100%;
  height: 140px;
  min-height: 140px;
  background-color: #333;
  background-size: cover;
}
#links p{
  width:100%;
  height: auto;
  font-size: 1em;
  color:#FFF;  
  text-transform: capitalize;
  margin-bottom: 1px;
}
#links .likes{
  color: #bf9700;
  /*font-style: italic;*/
  margin-bottom: 20px;
}

#albums{
  width:100%;

}
#albums a{
  width: 43%;
display: inline-block;
vertical-align: top;
margin-left: 2%;
margin-right: 1%;
}
#albums .foto{
  width:100%;
  height: 140px;
  min-height: 140px;
  background-color: #333;
  background-size: cover;
}
#albums .foto:hover{
  opacity: 0.7;
}
#albums p{
  width:100%;
  height: auto;
  font-size: 1.1em;
  color:#FFF;
}
.photo-like-wrapper{
  position: absolute;
  bottom:0px;
  left:0px;
  width:100%;
  text-align: left;
  padding-left: 15px;
}
.photo-like{
  width:50px;
  margin-bottom: 10px;
}
.photo-like-caption{
  color:#bf9700;
  font-size: 1.1em;
  text-align: left;
  margin-bottom: 10px;
  text-transform: capitalize;
}




/*
  MI COMUNIDAD
*/
#micomunidad{
  width:100%;
  text-align: center;
  padding-bottom: 90px;
  position: absolute;  
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 1000px;
}
.micomunidad-loader{
  position: absolute;
  top:40%;
  width:100%;
  text-align: center;
}
#micomunidad .micomunidad_top{
  width: 95%;
  padding-left: 0px;
  margin-top: 20px;
}
#micomunidad .micomunidad_top .user-avatar{
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
  width: 90px;
  height: 90px;
  border: 2px solid #bf9700;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px; /* future proofing */
  -khtml-border-radius: 100px; /* for old Konqueror browsers */
  background-size: 100%;
  background-repeat: no-repeat;
}
#micomunidad .micomunidad_top .user-info{
  display: inline-block;
  vertical-align: middle;
  width: 55%;
  height: auto;
  padding-left: 5%;
  width:calc(80% - 90px);
  text-align: left;
}
#micomunidad .micomunidad_top .user-info .user-name{
  color: #FFFFFF;
  font-size: 1.2em;
  text-align: left;
}
#micomunidad .micomunidad_top .user-info .user-city{
  color: #FFFFFF;
  font-size: 1.2em;
  text-align: left;
  margin-top: 5px;
}
#micomunidad .micomunidad_top .user-info .user-session{
  color: #ff0000;
  font-size: 1.2em;
  text-align: left;
  margin-top: 7px;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}
#micomunidad .micomunidad_top .user-info .user-password{
  color: #bf9700;
  font-size: 1.2em;
  text-align: left;
  margin-top: 7px;
  display: inline-block;
  vertical-align: top;
  border-left: solid 1px #ffffff;
  padding-left: 10px;
}
#micomunidad .micomunidad_button_codigo{
  margin:0 auto;
  width:60%;
  padding: 8px 5px;
  border: solid #bf9700 1px;
  color: #FFFFFF;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 20px;
  clear: both;
}
#micomunidad .text-info{
  font-size: 1.3em;
  color: #DDDDDD;
}
#micomunidad .text-info strong{
  font-size: 1.8em;
  color: #FFFFFF;
}
#micomunidad .micomunidad_amigos{
  width: 99%;
  margin-top:20px;
  margin-bottom:10px;
  text-align: left;
  padding-left: 1%;
  padding-bottom:30px;
}
#micomunidad .micomunidad_amigos img{
  width: 79px;
  height: auto;
  margin:0 auto;
}
#micomunidad .micomunidad_amigos .friend_avatar{
  width: 68px;
  height: 68px;
  margin:0 auto;
  margin-top: 3px;
  text-align: center;  
  background-image: url('../img/avatar.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: 2px solid #bf9700;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px; /* future proofing */
  -khtml-border-radius: 100px; /* for old Konqueror browsers */
}
#micomunidad .micomunidad_amigos .friend_avatar img{
  width: 25px;
  height: auto;
  margin:0 auto;
  margin-top: 55px;
}
#micomunidad .micomunidad_amigos .name_friend{
  color: #FFFFFF;
  font-size: 1em;
  text-transform: capitalize;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  margin-top: 15px;
  margin-bottom:8px;
}
#micomunidad .micomunidad_amigos .add_new_label{
  color: #bf9700;
  margin-top: 0px;
}

/*
  Change password
*/
#change_password{
  width: 100%;
  position: absolute;
  top: 0px;
  padding-bottom: 90px;
  margin-top: 90px;
  padding: 0px;
  text-align: center;
} 
#change_password h2{
  color: #FFFFFF;
  font-size: 1.7em;
  margin-top: 1px;
  margin-bottom: 1px;
}

#change_password p{
  color: #FFFFFF;
  font-size: 1em;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 80%;
  padding: 0px;
  margin-left: 10%;
  text-transform: capitalize;
}

.miller_input{
  width: 80%;
  border: none;
  background: #000000;
  color: #FFFFFF;
  font-size: 1.3em;
  padding:5px;
  border-bottom: solid #bd9600 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 10px;
}
textarea:focus, input:focus{
  outline: none;
}
*:focus {
  outline: none;
}
.button_miller{
  border: solid #bd9600 2px;
  padding: 8px 20px;
  font-size: 1.5em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  background: #000000;
  margin-top: 25px;
  margin-bottom: 5px;
}

.button_miller:hover{
  border: solid #bd9600 2px;
  color: #000000;
  background: #bd9600;
}


.change::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #CCC;
}
.change:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #CCC;;
  opacity: 1;
}
.change::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #CCC;;
  opacity: 1;
}
.change:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #CCC;;
}
input{
}

input[type=date]:invalid::-webkit-datetime-edit {
  color: #ccc;
}

input[type="date"]::before { 
	content: attr(data-placeholder);
	width: 100%;
}

::placeholder {
  color: #ccc;
}

input::-webkit-input-placeholder {
  color: #ccc !important;
  }
   
  input:-moz-placeholder { /* Firefox 18- */
  color: #ccc !important;  
  }
   
  input::-moz-placeholder {  /* Firefox 19+ */
  color: #ccc !important;  
  }
   
  input:-ms-input-placeholder {  
  color: #ccc !important;  
  }

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }








/*
  EVENTOS
*/
#eventos{
  width:100%;
  text-align: center;
  padding-bottom: 0px;
  position: absolute;
  z-index: 12;
}
#eventos.section{
  padding-top: 0px;
  
}
#calendar{  
  z-index: 13;
}

.calendar-loader{
  position: absolute;
  top:40%;
  width:100%;
  text-align: center;
}


.loader {
  margin: 0 auto;
  border: 11px solid #000000;
  border-radius: 50%;
  border-top: 11px solid #ffffff;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0px;
  background: #ffd348;
  padding: 5px;
      padding-top: 5px;
  padding-top: 6px;
  color: #000000;
  padding-left: 8px;
}
.fc .fc-button-group > :first-child {
  margin-left: 0;
  background: none;
  border: none;
  font-size: 1.3em;
}
.fc .fc-button-group > :last-child {
  margin-left: 0;
  background: none;
  border: none;
  font-size: 1.3em;
}
.fc-toolbar .fc-left {
  float: left;
  padding-top: 2px;
}

.fc .fc-toolbar > * > :first-child {
  margin-left: 0;
  background: none;
  border: none;
  margin-top: 5px;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: none;
}

.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-helper-skeleton td {
  text-align: center;
  padding-top: 0px;
}

.fc-basic-view .fc-body .fc-row {
  min-height: 2.5em !important;  
  height:2.5em;
  font-size: 1em;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: none;
  font-size: 1.1em !important;
  line-height: 1.4em !important;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border: none;
}
.fc-widget-header{
  padding-top: 10px;
  padding-bottom: 5px;
}

a.fc-event {
  border-radius: 10px;
  width: 4px;
  color: transparent;
  height: 4px;
  margin: 0 auto;
  margin-top: 0px;
}
.fc-event, .fc-event-dot {
  background-color: #ffd348;
}
.fc-event {
  position: relative;
  display: block;
  font-size: .85em;
  line-height: 1.3;
  border-radius: 3px;
  border: 1px solid #ffd348;
}
tr:first-child > td > .fc-day-grid-event {
  margin-top: 0px;
}
.fc-unthemed td.fc-today {
  background: #000;
  color: #ffd348;
  border: none;
}

/*hover calendar*/
.fc-day{
  
}
.fc-day:hover{
  background:#333;
}
/*Allow pointer-events through*/
.fc-slats, /*horizontals*/
.fc-content-skeleton, /*day numbers*/
.fc-bgevent-skeleton /*events container*/{
  pointer-events:none
}
.fc-bgevent,
.fc-event-container{
  pointer-events:auto; /*events*/
}
#eventos{
  position: absolute;
}
#eventos .eventos-list {
  width: 100%;
  margin:0px;
  padding:0px;
  text-align: left;
  overflow-y: auto;
  height: 100px;
  border-top: solid #ffd348 1px;
  list-style: none;
  background-color: #000000;
  position: absolute;  
  z-index: 15;  
}
#eventos .eventos-list .evento-item{
  width:100%;  
  margin:0px;
  padding:0px;
  padding-top: 10px;
  padding-bottom: 5px;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000000;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;

}
#eventos .eventos-list .evento-item:hover{
  background-color: #333333;
}
#eventos .eventos-list .evento-item .day{
  width:10%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9em;
  text-align: right;
  text-transform: uppercase;
}
#eventos .eventos-list .evento-item .date{
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
  margin-left: -4px;
  color: #ffd348;
  text-align: center;
}
#eventos .eventos-list .evento-item .separator{
  width:2%;  
  display: inline-block;
  vertical-align: middle;
  margin-left: -4px;
  border-left:solid #FFFFFF 1px;
  height: 35px;
}
#eventos .eventos-list .evento-item .description{
  width:61%;  
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  margin-left: -4px;
}
#eventos .eventos-list .evento-item .description h4{
  margin:0px;
  font-size: 1.1em;
  color: #ffd348;
}
#eventos .eventos-list .evento-item .description p{
  margin:0px;
  margin-top: 3px;
  font-size: 1em;
  text-transform: capitalize;
  color: #DDD;
}
#eventos .eventos-list .evento-item .hour{
  width:15%;  
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  margin-left: -4px;
  text-align: right;
}
#evento{
  /*padding: 20px;
  width: 100%;*/  
  position: absolute;
  padding-bottom: 90px;
}
#evento .fecha{
  padding-left: 15px;
  padding-right: 10px;
  margin-bottom: 0px;
  color:#AAA;
  text-transform: uppercase;
  font-size: 1em;
}
#evento .dia{
}
#evento .mes{
}
#evento .ano{
}
#evento .hora{
  float: right;
  color:rgb(94, 185, 132);
  font-size: 1.1em;
  padding-right: 15px;
}
#evento h3{
  color: #ffd348;
  font-size: 1.8em;
  padding-left: 15px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}
#evento p{
  color: #EEE;
  font-size: 1.2em;
  text-transform: capitalize;
  padding-left: 15px;
  padding-right: 10px;
}

.norecord{
  padding:20px;
  font-size: 1.1em;
  color:#DDD;
}


/*
  SPOTIFY
*/
#spotify{
  width:100%;
}
#spotify.section{
  padding-top: 0px;  
}
#spotify_iframe{
  width:100%;
  height: 200px;
  border: none;
  background:#00ff00;
}



/*
  SAFE IN THE CITY
*/
#safeinthecity{
  width:100%;
}
#safeinthecity .cover{
  width:100%;
  height: auto;
}



.tutorial{
  margin:0px;
  padding:0px;
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:500px;
  z-index: 999999;
  background-color: #000;
  display: none;
}
.tutorial img{
  width: 96%;
  height: auto;
  margin-top: 25px;
  margin-left: 2%;
}



.loading{
  position: absolute;
  width:100%;
  height:100%;
  text-align: center;
  top:50px;
  z-index: 99999;
  display: none;
  
}
.loading img{
  margin:0 auto;
  margin-top:100px;
  width: 250px;
}




